@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Inconsolata", monospace;
}

.bg-main {
  background-color: #011627;
}

.bg-shiny-green {
  background-color: #1a5f59;
}

.bg-shiny-blue {
  background-color: #1f3767;
}

.border-gray {
  border-color: #415a72;
}
.text-theme-green {
  color: #39bb98;
}
